<div class="container">
	<div class="jumbotron">
		<div class="container">
			<div class="center">
				<h1 class="google-font" style="color: #4a545e;">Bylder</h1>
				<h2 style="color: #6C7A89;">Find & Hire Student Web Developers</h2>
				</div><br>
				<div class="col-md-8 col-md-offset-2" style="color: #6C7A89;">
					<p>Bylder helps you find talented and local undergrad/graduate students to build and deploy your software. No more communication barriers due to time zone differences or your overseas developers not understanding what you're saying. Students are highly motivated and eager to learn.<br><br>Currently we have over 200 students from the following schools: <strong>UCLA, USC, CSUN, UCI, UCSB, UCR, UCB, & Stanford</strong><br><br>We'd be happy to keep you posted about the beta program and launch (your information won't be used for anything else.)</p><br>

					<%= render 'form' %>
				</div>
			
		</div>
	</div>
</div>

