<div class="container thank-you">
	<div class="center">
		<h3>Thank you for joining the Bylder list.</h3><br>
		<h4>We would love to hear from you whether you are a student or an employer. Your feedback is extremely important to us. If you have any questions or concerns please reach out to <a href="mailto:omar@bylder.net">omar@bylder.net</a>.</h4>

	</div>
</div>